[submodule "src/line_follower"]
	path = src/line_follower
	url = git@github.com:wiengel-hm/line_follower.git
[submodule "src/controller"]
	path = src/controller
	url = git@github.com:wiengel-hm/controller.git
