[submodule "src/line_follower"]
        path = src/line_follower
        url = https://github.com/wiengel-hm/line_follower.git
[submodule "src/controller"]
        path = src/controller
        url = https://github.com/wiengel-hm/controller.git
[submodule "src/run_yolo"]
	path = src/run_yolo
	url = https://github.com/wiengel-hm/run_yolo.git
